<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drips</title>
  <!--API-->
  <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'}"/>

  <!--Styles-->
  <link rel="stylesheet" th:href="@{/css/carousel.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
  <link rel="stylesheet" th:href="@{/css/index-page.css}"/>
  <link rel="stylesheet" th:href="@{/css/theme.css}"/>
  <link rel="stylesheet" th:href="@{/css/mdb.min.css}"/>

  <!--Fonts-->
  <link rel="preconnect" th:href="@{'https://fonts.googleapis.com'}"/>
  <link rel="preconnect" th:href="@{'https://fonts.gstatic.com'}" crossorigin/>
  <link rel="stylesheet" th:href="@{/css/fonts.css}"/>
  <link rel="stylesheet" th:href="@{'https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'}"/>
</head>
<body>
<!--Nav-->
<nav class="navbar navbar-expand-lg shadow sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img th:src="@{/images/logo.png}" alt="Drips" width="64" height="60">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-content">
      <div class="hamburger-toggle">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav nav-underline mr-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown dropdown-mega position-static">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
             data-bs-auto-close="outside">Roasters</a>
          <div class="dropdown-menu shadow">
            <div class="mega-content px-4">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/Lowkey/logo.jpg}"
                           class="img-fluid rounded-top " alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>lowkey</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            서울특별시 성동구 연무장3길 6 <br>
                            <a th:href="@{/api/page/Lowkey}"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/pastel/logo.jpg}"
                           class="img-fluid rounded-top" alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>Pastel Coffee Works</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            서울특별시 마포구 성지길 58 1층
                            <a th:href="@{/api/page/PastelCoffeeWorks}"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/peer/logo.jpg}"
                           class="img-fluid rounded-top" alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>Peer Coffee</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            서울특별시 성동구 연무장3길 6
                            <a th:href="@{/api/page/PeerCoffee}"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/heureum/logo.jpg}"
                           class="img-fluid rounded-top" alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>커피흐름</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            경기도 수원시 영통구 하동 975-2
                            <a th:href="@{/api/page/CoffeeHeureum}"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
             data-bs-auto-close="outside">Products</a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" th:href="@{/api/page/drip-bag}">DripBag</a></li>

          </ul>
        </li>

      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="user-info ms-2 m-auto">
          <div th:if="${session.member != null}">
            <p class="m-0">
              <span th:text="${session.member.name}">User</span> 님 어서오세요!
            </p>
          </div>
          <div th:unless="${session.member != null}">
            <p class="m-0">Guest 님 어서오세요!</p>
          </div>
        </li>
        <li class="nav-theme ms-2">
          <a class="nav-link icons" th:href="@{/api/order/orderList}" tabindex="-1" data-bs-toggle-theme="true"
             aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
              <path
                  d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
              <path
                  d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
            </svg>
          </a>
        </li>
        <li class="nav-user ms-1">
          <a class="nav-link icons" th:href="@{/api/page/login}"
             tabindex="-1"
             data-bs-toggle-theme="true"
             data-bs-toggle="tooltip" data-bs-placement="bottom"
             data-bs-title="Login"
             aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          </a>
        </li>
        <li class="nav-cart ms-1">
          <a class="nav-link icons" th:href="@{/api/page/cart}" tabindex="-1" data-bs-toggle-theme="true"
             aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--Nav-->


<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image object-cover " th:style="|background-image: url('@{/images/peer/swiper.jpg}'); height: 120vh;|"></div>
  <!-- Background image -->

  <div class="d-flex card mx-4 mx-md-5 shadow-5-strong align-items-center justify-content-md-center w-50 position-absolute"
       style="
            margin-top: -1000px;
            left: 22%;
            background: hsla(0, 0%, 100%, 0.1);
            backdrop-filter: blur(30px);
            ">
    <div class="card-body py-5 px-md-5 w-100 m-auto">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-8 ">
          <h2 class="fw-bold mb-5">- 상품 등록 -</h2>
          <form class="needs-validation" th:action="@{/api/product/add}" enctype="multipart/form-data" method="post" novalidate>
            <input type="hidden" th:name="productRoastery" th:value="${session.member.getId()}"/>
            <div data-mdb-input-init class="form-outline mb-3 ">
              <h6 class="mb-2 pb-1">Category</h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="productCategory" id="SingleOrigin" value="Single Origin"
                       checked
                />
                <label class="form-check-label" for="SingleOrigin">Single Origin</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="productCategory" id="Blend" value="Blend"
                />
                <label class="form-check-label" for="Blend">Blend</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="productCategory" id="DripBag" value="DripBag"
                />
                <label class="form-check-label" for="DripBag">DripBag</label>
              </div>
            </div>
            <div data-mdb-input-init class="form-outline mb-3 ">
              <h6 class="mb-2 pb-1">Season</h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="productCondition" id="Seasonal" value="Seasonal"
                       checked
                />
                <label class="form-check-label" for="Seasonal">Seasonal</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="productCondition" id="AllSeason" value="AllSeason"
                />
                <label class="form-check-label" for="AllSeason">All Season</label>
              </div>
            </div>
            <div data-mdb-input-init class="form-outline mb-5">
              <input type="text" id="productName" class="form-control"
                     name="productName"
                     required/>
              <label class="form-label" for="productName">상품명</label>
              <div class="invalid-feedback">상품명을 입력해주세요</div>
            </div>
            <div data-mdb-input-init class="form-outline mb-5">
              <input type="text" id="productPrice" class="form-control"
                     name="productPrice"
                     required/>
              <label class="form-label" for="productPrice">가격</label>
              <div class="invalid-feedback">상품 가격을 입력해주세요</div>
            </div>
            <div data-mdb-input-init class="form-outline mb-5">
              <input type="text" id="productDescription" class="form-control"
                     name="productDescription"
                     required/>
              <label class="form-label" for="productDescription">설명</label>
              <div class="invalid-feedback">상품 설명을 입력해주세요</div>
            </div>
            <div data-mdb-input-init class="form-outline mb-5">
              <input type="text" id="quantity" class="form-control"
                     name="quantity"
                     required/>
              <label class="form-label" for="quantity">재고량</label>
              <div class="invalid-feedback">상품의 재고수를 입력해주세요</div>
            </div>
            <div data-mdb-input-init class="form-outline mb-5">
              <input type="text" id="cupNote" class="form-control"
                     name="cupNote"
                     required/>
              <label class="form-label" for="cupNote">Cup Note</label>
              <div class="invalid-feedback">CupNote를 입력해주세요</div>
            </div>
            <div data-mdb-input-init class="form-outline mb-5">
              <input type="file" id="imgFile" name="imgFile" class="form-control" aria-label="imgFile" multiple="multiple"/>
              <div class="invalid-feedback">상품 사진을 넣어주세요!</div>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 data-mdb-ripple-init">상품 등록하기
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->


<!--Footer-->
<footer class="text-center text-lg-start bg-body-tertiary text-muted pt-5">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> 201958110 신윤섭
          </h6>
          <p>
            DataBase Programming
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Roastery
          </h6>
          <p>
            <a th:href="@{/api/page/Lowkey}" class="text-reset">lowkey</a>
          </p>
          <p>
            <a th:href="@{/api/page/PastelCoffeeWorks}" class="text-reset">Pastel Coffee Works</a>
          </p>
          <p>
            <a th:href="@{/api/page/PeerCoffee}" class="text-reset">Peer Coffee</a>
          </p>
          <p>
            <a th:href="@{/api/page/CoffeeHeureum}" class="text-reset">Coffee Heureum</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a th:href="@{/api/page/drip-bag}" class="text-reset">Drip Bag</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>한신대학교 장준하기념관 18201-1</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            zksdbstjq@hs.ac.kr
          </p>
          <p><i class="fas fa-phone me-3"></i>010-1234-5679</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 bg-black text-light">
    © 2024 Copyright:
    <a class="text-reset fw-bold link-light" th:href="@{'https://github.com/F-UMI'}">Shin Yun Seop</a>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->
<!--Script-->
<script th:src="@{'https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js'}"></script>
<script>

</script>
<script th:src="@{'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/swiper.js}"></script>

<!-- MDB -->
<script type="text/javascript" th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.umd.min.js'}"></script>
</body>
</html>