<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drips</title>

  <!--API-->
  <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'}"/>

  <!--CSS-->
  <link rel="stylesheet" th:href="@{/css/carousel.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
  <link rel="stylesheet" th:href="@{/css/index-page.css}"/>
  <link rel="stylesheet" th:href="@{/css/theme.css}"/>
  <link rel="stylesheet" th:href="@{/css/mdb.min.css}"/>

  <!--Font-->
  <link rel="preconnect" th:href="@{'https://fonts.googleapis.com'}"/>
  <link rel="preconnect" th:href="@{'https://fonts.gstatic.com'}" crossorigin/>
  <link rel="stylesheet" th:href="@{/css/fonts.css}"/>
  <link rel="stylesheet" th:href="@{'https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'}"/>
</head>
<body style="overflow-x: hidden">

<!--nav-->
<nav class="navbar navbar-expand-lg shadow sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/page/index">
      <img th:src="@{/images/logo.png}" alt="Drips" width="64" height="60">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-content">
      <div class="hamburger-toggle">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav nav-underline mr-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown dropdown-mega position-static">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
             data-bs-auto-close="outside">Roasters</a>
          <div class="dropdown-menu shadow">
            <div class="mega-content px-4">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/Lowkey/logo.jpg}"
                           class="img-fluid rounded-top " alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>lowkey</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            서울특별시 성동구 연무장3길 6 <br>
                            <a href="/api/page/Lowkey"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/pastel/logo.jpg}"
                           class="img-fluid rounded-top" alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>Pastel Coffee Works</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            서울특별시 마포구 성지길 58 1층
                            <a href=/api/page//PastelCoffeeWorks
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/peer/logo.jpg}"
                           class="img-fluid rounded-top" alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>Peer Coffee</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            서울특별시 성동구 연무장3길 6
                            <a href="/api/page/PeerCoffee"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-3 py-4">
                    <div class="card">
                      <img th:src="@{/images/heureum/logo.jpg}"
                           class="img-fluid rounded-top" alt="image">
                      <div class="card-body">
                        <figure>
                          <blockquote class="blockquote text-center py-2">
                            <p>커피흐름</p>
                          </blockquote>
                          <figcaption
                              class="blockquote-footer text-center">
                            경기도 수원시 영통구 하동 975-2
                            <a href="/api/page/CoffeeHeureum"
                               class="stretched-link"></a>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
             data-bs-auto-close="outside">Products</a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" href="/api/page/drip-bag">DripBag</a></li>
            <li><a class="dropdown-item" href="/api/page/supplies">Supplies</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/page/addProduct">Add Product</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="user-info ms-2 m-auto">
          <div th:if="${session.member != null}">
            <p class="m-0">
              <span th:text="${session.member.name}">User</span> 님 어서오세요!
            </p>
          </div>
          <div th:unless="${session.member != null}">
            <p class="m-0">Guest 님 어서오세요!</p>
          </div>
        </li>
        <li class="nav-theme ms-2">
          <a class="nav-link icons" href="#" tabindex="-1" data-bs-toggle-theme="true"
             aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16"/>
            </svg>
          </a>
        </li>
        <li class="nav-user ms-1">
          <a class="nav-link icons" href="/api/page/login"
             tabindex="-1"
             data-bs-toggle-theme="true"
             data-bs-toggle="tooltip" data-bs-placement="bottom"
             data-bs-title="Login"
             aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          </a>
        </li>
        <li class="nav-cart ms-1">
          <a class="nav-link icons" href="/api/page/cart" tabindex="-1" data-bs-toggle-theme="true"
             aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--nav-->

<!--swiper-->
<div class="swiper mySwiper" style="height: 92.6%;">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img th:src="@{/images/peer/swiper.jpg}">
    </div>
    <div class="swiper-slide">
      <img th:src="@{/images/Lowkey/swiper.jpg}">
    </div>
    <div class="swiper-slide">
      <img th:src="@{/images/heureum/swiper.jpeg}">
    </div>
    <div class="swiper-slide">
      <img th:src="@{/images/pastel/swiper.jpg}">
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
  <div class="autoplay-progress bg-transparent">
    <svg viewBox="0 0 48 48">
      <circle cx="24" cy="24" r="20"></circle>
    </svg>
    <span></span>
  </div>
</div>
<!--swiper-->

<!--seasonal-->
<div class="pd container-fluid">
  <div class="pd-title">SEASONAL</div>
  <p id="custom-h3">매월 새롭게 소개하는 시즈널 커피</p>
  <div class="row w-100">
    <div class="row row-cols-auto g-5 mt-5 ms-3">
      <div th:each="product : ${SeasonalProductList}">
        <div class="col pd-col ms-5">
          <div class="card bg-image roaster-card-img bg-dark text-white hover-overlay hover-zoom" data-mdb-ripple-init
               data-mdb-ripple-color="#525740">
            <img th:src="@{${product.imgPath}}" class="card-img" alt="..." style="width: 350px">
            <div class="mask" style="background-color: hsla(0, 0%, 2%, 0.8)">
              <div class="card-img-overlay d-flex flex-column justify-content-between">
                <div>
                  <h3 class="card-title" th:text="${product.productName}">Product Name</h3>
                  <p class="card-text mb-5" th:text="${product.productDescription}">Product Description</p>
                </div>
                <div>
                  <p class="card-text">
                    Cup Note : <br>
                    <span th:text="${product.cupNote}">Cup Note</span>
                  </p>
                </div>
              </div>
              <a th:href="@{productInfo/{id}(id = ${product.productId})}" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--seasonal-->

<!--all_season-->
<div class="pd container-fluid">
  <div class="pd-title">
    ALL SEASON
  </div>
  <p>
    로스터리의 시그니처 메뉴들
  </p>
  <div>
    <div class="row w-100">
      <div class="row row-cols-auto g-5 ms-3 mt-5">
        <div th:each="product : ${AllSeasonProductList}">
          <div class="col pd-col ms-5">
            <div class="card bg-image roaster-card-img bg-dark text-white hover-overlay hover-zoom" data-mdb-ripple-init
                 data-mdb-ripple-color="#525740">
              <img th:src="@{${product.imgPath}}" class="card-img" alt="..." style="width: 350px">
              <div class="mask" style="background-color: hsla(0, 0%, 2%, 0.8)">
                <div class="card-img-overlay d-flex flex-column justify-content-between">
                  <div>
                    <h3 class="card-title" th:text="${product.productName}">Product Name</h3>
                    <p class="card-text mb-5" th:text="${product.productDescription}">Product Description</p>
                  </div>
                  <div>
                    <p class="card-text">
                      Cup Note : <br>
                      <span th:text="${product.cupNote}">Cup Note</span>
                    </p>
                  </div>
                </div>
                <a th:href="@{productInfo/{id}(id = ${product.productId})}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--all_season-->

<!--DripBag-->
<div class="container-fluid p-0">
  <div class="img">
    <img th:src="@{/images/drip_bag.jpg}" class="img-fluid w-100" alt="">
    <div class="card-img-overlay w-50 ms-4 me-5 mt-5">
      <div class="pd-title mb-3 text-white">
        DRIP-BAG
      </div>
      <p class="pd-link mb-5 text-white">
        스페셜티 커피를 더욱 간편하게 즐겨보세요. <br>
        다양한 로스터리가 제공하는 드립백을 골라보세요. <br>
        집이나 사무실에 두거나, 선물하기도 좋습니다.
      </p>
      <button class="custom-btn mt-3 ms-5">
        <a th:href="@{drip-bag}" class="link-light"><span>Link</span></a>
      </button>
    </div>
  </div>
</div>
<!--dripBag-->

<!--supplies-->
<div class="pd container-fluid">
  <div class="pd-title">
    COFFEE SUPPLIES
  </div>
  <p>
    커피 용품 (추가 예정)
  </p>
</div>
<!--supplies-->

<!--footer-->
<footer class="text-center text-lg-start bg-body-tertiary text-muted pt-5">
  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> 201958110 신윤섭
          </h6>
          <p>
            DataBase Programming
          </p>
        </div>


        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Roastery
          </h6>
          <p>
            <a href="/api/page/Lowkey" class="text-reset">lowkey</a>
          </p>
          <p>
            <a href="/api/page//PastelCoffeeWorks" class="text-reset">Pastel Coffee Works</a>
          </p>
          <p>
            <a href="/api/page/PeerCoffee" class="text-reset">Peer Coffee</a>
          </p>
          <p>
            <a href="/api/page/CoffeeHeureum" class="text-reset">Coffee Heureum</a>
          </p>
        </div>


        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="/api/page/drip-bag" class="text-reset">Drip Bag</a>
          </p>
          <p>
            <a href="/api/page/supplies" class="text-reset">Supplies</a>
          </p>
        </div>


        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>한신대학교 장준하기념관 18201-1</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            zksdbstjq@hs.ac.kr
          </p>
          <p><i class="fas fa-phone me-3"></i>010-1234-5679</p>
        </div>

      </div>

    </div>
  </section>


  <div class="text-center p-4 bg-black text-light">
    © 2024 Copyright:
    <a class="text-reset fw-bold link-light" th:href="@{'https://github.com/F-UMI'}">Shin Yun Seop</a>
  </div>

</footer>
<!--footer-->


<!--Script-->
<script th:src="@{'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/day-night.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/swiper.js}"></script>

<!--MDB-->
<script type="text/javascript" th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.umd.min.js'}"></script>
<!--MDB-->
<!--Script-->


</body>
</html>